html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}


button {
    font-family: Monospace;
    background-color: white;
    padding: 0.5em 1em;
    border: 1px solid grey;
}


button:hover {
    box-shadow: 0px  0px 3px 0px grey inset;
}


* {
    box-sizing: border-box;
    font-family:  sans-serif;
}

span {
    white-space: pre;
}


label {
    display: block;
}


table input {
    width: 100%;
}